<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-warning" >Bus Travel</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/mytrip-air/">Air Trip <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" href="/main/mytrips/">Bus Trips <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
      <a href="/main/log-out/"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log-Out</button></a>
  </div>
</nav>
<div class="p-24 flex flex-wrap items-center justify-center bg-gray-900">
    
    
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-grey-500 rounded-lg max-w-xs shadow-lg">
      <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
      </svg>
      <!-- <div class="relative pt-10 px-10 flex items-center justify-center">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
        <img class="relative w-100 h-40" src="https://image.flaticon.com/icons/png/512/3893/3893660.png" alt="">
      </div>
      <div class="relative text-white px-6 pb-6 mt-6">
        <div class="flex justify-around">
          <a href="/air/"><span class="block bg-white rounded-full text-green-500 text-xs font-bold px-3 py-2 leading-none flex items-center">Book a Air Trip</span></a>
        </div>
      </div>
       -->
    </div>
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-grey-500 rounded-lg max-w-xs shadow-lg">
      <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
        <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
        <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
      </svg>
      <div class="relative pt-10 px-10 flex items-center justify-center">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
        <img class="relative w-100 h-40" src="https://st.redbus.in/bo-images/IND/WM/10100/35/FR/L/wyLdpB.jpeg" alt="">
      </div>
      <div class="relative text-white px-6 pb-6 mt-6">
        <div class="flex justify-around">
          <a href="/main/charts"><span class="block bg-white rounded-full text-green-500 text-xs font-bold px-3 py-2 leading-none flex items-center">Book a Bus Trip</span></a>
        </div>
      </div>
  </div>
  
  